FEATURE SELECTION:

In [20]:
#With the aim to ensure reproducibility between runs of the same notebook, but also between the
#research and production environment, we will be setting seed to address randomness 

#importing data manipulation packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#for building our models and facilitating model selection
import xgboost as xgb
from sklearn.feature_selection import SelectFromModel

In [2]:
#load the train and test csv data

x_train = pd.read_csv('x_train.csv')
x_test = pd.read_csv('x_test.csv')

x_train.head()

,make,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,engine_hp_na,age
10660,8,0,4.406687,0,2,0,0,1,0,2,1.453285,1.113687,28.519991,0,1
4140,25,0,4.887654,0,2,2,0,11,2,11,1.422067,1.110025,20.134481,0,6
11414,10,2,4.452380,0,2,0,0,1,2,7,1.415625,1.091493,17.557344,0,15
5119,23,5,4.879183,0,0,2,0,14,1,9,1.433747,1.096830,10.437919,0,4
2639,11,0,4.528372,0,0,1,0,1,2,4,1.393279,1.078885,19.232728,0,19

In [3]:
y_train = pd.read_csv('y_train.csv')
y_test = pd.read_csv('y_test.csv')

y_train.head()

            msrp
10660  10.029062
4140   11.361358
11414  10.070738
5119   10.522746
2639    8.091321

In [16]:

# first, we specify the xgb Regression model, and we
# select a suitable alpha (equivalent of penalty).
# The bigger the alpha the less features that will be selected.

# Then we use the selectFromModel object from sklearn, which
# will select automatically the features which coefficients are non-zero

# remember to set the seed, the random state in this function
sel_ = SelectFromModel(xgb.XGBRegressor(alpha=0.001, random_state=1))

# train Lasso model and select features
sel_.fit(x_train, y_train)

SelectFromModel(estimator=XGBRegressor(alpha=0.001, base_score=None,
                                       booster=None, callbacks=None,
                                       colsample_bylevel=None,
                                       colsample_bynode=None,
                                       colsample_bytree=None,
                                       early_stopping_rounds=None,
                                       enable_categorical=False,
                                       eval_metric=None, feature_types=None,
                                       gamma=None, gpu_id=None,
                                       grow_policy=None, importance_type=None,
                                       interaction_constraints=None,
                                       learning_rate=None, max_bin=None,
                                       max_cat_threshold=None,
                                       max_cat_to_onehot=None,
                                       max_delta_step=None, max_depth=None,
                                       max_leaves=None, min_child_weight=None,
                                       missing=nan, monotone_constraints=None,
                                       n_estimators=100, n_jobs=None,
                                       num_parallel_tree=None, predictor=None, ...))

In [17]:
sel_.get_support().sum()

2

In [18]:
sel_.get_support()

array([False, False,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True])

In [19]:
selected_feats =x_train.columns[(sel_.get_support())]
selected_feats

Index(['engine_hp', 'age'], dtype='object')