FEATURE SELECTION:

In [1]:
#With the aim to ensure reproducibility between runs of the same notebook, but also between the
#research and production environment, we will be setting seed to address randomness 

#importing data manipulation packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#for building our models and facilitating model selection
from sklearn.ensemble import AdaBoostRegressor as abr
from sklearn.linear_model import LassoCV
from sklearn.feature_selection import SelectFromModel

In [2]:
#load the train and test csv data

x_train = pd.read_csv('xtrain.csv')
x_test = pd.read_csv('xtest.csv')

x_train.head()

,make,engine_fuel_type,engine_hp,engine_cylinders,transmission_type,driven_wheels,number_of_doors,market_category,vehicle_size,vehicle_style,highway_mpg,city_mpg,popularity,engine_hp_na,age
0,0.275862,0.0,0.120507,0.0,0.666667,0.000000,0.0,0.066667,0.0,0.153846,0.456760,0.626706,1.000000,0.0,0.037037
1,0.862069,0.0,0.292812,0.0,0.666667,0.666667,0.0,0.733333,1.0,0.846154,0.356272,0.607937,0.286826,0.0,0.222222
2,0.344828,0.4,0.132135,0.0,0.666667,0.000000,0.0,0.066667,1.0,0.538462,0.335536,0.512956,0.178780,0.0,0.555556
3,0.793103,1.0,0.288584,0.0,0.000000,0.666667,0.0,0.933333,0.5,0.692308,0.393869,0.540310,0.033245,0.0,0.148148
4,0.379310,0.0,0.153277,0.0,0.000000,0.333333,0.0,0.066667,1.0,0.307692,0.263606,0.448335,0.244562,0.0,0.703704

In [3]:
y_train = pd.read_csv('ytrain.csv')
y_test = pd.read_csv('ytest.csv')

y_train.head()

            msrp
10660  10.029062
4140   11.361358
11414  10.070738
5119   10.522746
2639    8.091321

In [4]:

# first, we specify the xgb Regression model, and we
# select a suitable alpha (equivalent of penalty).
# The bigger the alpha the less features that will be selected.

# Then we use the selectFromModel object from sklearn, which
# will select automatically the features which coefficients are non-zero

# remember to set the seed, the random state in this function
sel_ = SelectFromModel(abr(random_state=1, n_estimators= 100))

# train Lasso model and select features
sel_.fit(x_train, y_train)

/Users/eugene/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SelectFromModel(estimator=AdaBoostRegressor(n_estimators=100, random_state=1))

In [5]:
sel_.get_support().sum()

3

In [6]:
#viewing all the features selected
sel_.get_support()

array([False,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False,  True])

In [7]:
#make a list of selected features
selected_feats =x_train.columns[(sel_.get_support())]

#print out some significant stats
print('total features: {}'.format(x_train.shape[1]))
print('selected features: {}'.format(len(selected_feats)))

total features: 15
selected features: 3

In [8]:
selected_feats

Index(['engine_fuel_type', 'engine_hp', 'age'], dtype='object')

In [9]:
pd.Series(selected_feats).to_csv('selected_feats.csv', index_label=False)